<div class="row spacer">
     
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-2 col-xs-2"><label><input type="checkbox" (change)="selectAll($event)" /> All</label></div>
        <div class="col-md-5 col-xs-5">
          <button class="btn-link" (click)="toggleNameSort($event)">
            <span class="glyphicon " 
            [ngClass]="
            {
              'glyphicon-triangle-bottom':ascendingNameSorting, 
              'glyphicon-triangle-top':!ascendingNameSorting
            }" 
            aria-hidden="true"></span>Name
          </button>
        </div>
        <!-- <div class="col-md-5 col-xs-5">Color</div> -->
      </div>
      <hr>
      <!--[Category List Start]-->
      <div *ngFor="let category of categories; let i = index" class="category-row" [ngClass]="{'row-odd':(i%2)}">
        <app-category [category]="category" [checked]="checkAll" (selectionChanged)="updateSelectedCategories($event)"></app-category>
      </div>
      <!--[Category List End]-->
    </div>
  </div>