<div class="modal-header">
  <h4 class="modal-title pull-left">Choose cordinates</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 <app-google-maps [initialCoordinates]="initialCoordinates" [fromModal]="true" (onClick)="setCoordinates($event)"></app-google-maps>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="save()">Save</button>
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
</div>