 <div class="row spacer">
     
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1 col-xs-2"><label><input type="checkbox" (change)="selectAll($event)" /> All</label></div>
        <div class="col-md-2 col-xs-5">
          <button class="btn-link" (click)="toggleNameSort($event)">
            <span class="glyphicon " 
            [ngClass]="
            {
              'glyphicon-triangle-bottom':ascendingNameSorting && activeSorting == 'name', 
              'glyphicon-triangle-top':!ascendingNameSorting && activeSorting == 'name'
            }" 
            aria-hidden="true"></span>Name
          </button>
        </div>
        
        <div class="col-md-3 hidden-xs">Address</div>
        <div class="col-md-3 hidden-xs">Coordinates</div>
        <div class="col-md-2 col-xs-5">
          <button class="btn-link" (click)="toggleCategorySort($event)">
            <span class="glyphicon " 
            [ngClass]="
            {
              'glyphicon-triangle-bottom':ascendingNameSorting && activeSorting == 'category', 
              'glyphicon-triangle-top':!ascendingNameSorting && activeSorting == 'category'
            }" 
            aria-hidden="true"></span>Category
          </button>
        </div>
      </div>
      <hr>
      <!--[Location List Start]-->
      <div *ngFor="let location of locations; let i = index" [ngClass]="{'row-odd':(i%2)}">
        <app-location [checked]="checkAll" [location]="location" ></app-location>
      </div>
      <!--[Location List End]-->
      <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button>
    </div>
  </div>