 <div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Name">
      </div>
      <!-- <div class="form-group">
        <label>Color</label>
        <input type="text" class="form-control" formControlName="color" placeholder="Color">
      </div> -->
      <button type="submit" [disabled]="!form.valid || !form.dirty || !dirtyProgramatically && !form.valid" class="btn btn-default">Save</button>
      <button type="button" class="btn btn-default" (click)="complete()">Cancel</button>
    </form>
  </div>
</div> 
