<div class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleMenu()" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">MyLocations</a>
    </div>
    <div class="navbar-collapse" [ngClass]="{'open-menu':showMenu}">
      <ul class="nav navbar-nav">
        <li role="presentation"><a (click)="hideMenu()" routerLink="/categories">Categories</a></li>
        <li role="presentation"><a (click)="hideMenu()" routerLink="/locations">Locations</a></li>
      </ul>
    </div>
  </div>
</div>